
.noto-serif{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight:bold;
  font-style: normal;
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
 body {
      font-family: 'Inter', sans-serif;
    }
h1,h2 {
      font-family: 'Noto Serif', serif;
      
    }

.lover{
    position:relative;
}
    @keyframes spinBadge {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
.spin-badge {
      animation: spinBadge 3s linear infinite;
      
      top:-10%;
      left:38%;
      width:20%;
    }